<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/I_Amazon_OA2_Coding/src/Find_Optimal_Weight.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Find_Optimal_Weight"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="I_Amazon_OA2_Coding"/>
</launchConfiguration>
