<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/I_Google_Onsite/src/Q14_1_Find_Word_In_Dice.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Q14_1_Find_Word_In_Dice"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="I_Google_Onsite"/>
</launchConfiguration>
